@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Righteous&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
}

html {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  // background-color: $black;
  line-height: 1.9;
  scroll-behavior: smooth;
}

//Default Color Styling

$black: #000000;
$light-blue: rgb(108, 216, 219);
$light-black: rgb(31, 27, 27);
$blue: #262f8b;
$light-blue: #888eca;
$pink: #f7a4e4;
$light: #f5e4f1;

body {
  background-color: $light;
  color: $light;
  position: relative;

  #canvas {
    position: absolute;
    z-index: -1;
  }

  .footer {
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    margin-top: 60px;
  }
}

.cdetails {
  color: $black;
}
//End of Default Color Styling

.header {
  // background-color: $light;
  text-align: center;
  padding-bottom: 40px;

  .container {
    padding: 30px;

    .navbar {
      justify-content: space-between;
      display: flex;
      align-items: center;

      .logo {
        color: $blue;

        .logo-link {
          text-decoration: none;
        }
      }

      .menu {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: $black;
          padding: 0 20px;

          &:hover {
            text-decoration: underline;
          }
        }
        .btn {
          padding: 0.4rem 1rem;
          outline: none;
          background-color: $blue;
          border: 0;
          color: $light;
          cursor: pointer;
          border-radius: 4rem;

          &:hover {
            background-color: $black;
            color: $light;
            transition: 0.2s ease-in-out;
            text-decoration: none;
          }
        }
      }
    }
  }

  .wrapper {
    text-align: center;
    padding: 40px 10px;

    .name {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        color: $light;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        color: $black;
        margin-bottom: 0.8rem;
      }
      h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        background-color: $black;
        width: 250px;
        padding: 5px;
        line-height: 1.2;
        margin-bottom: 0.9rem;
      }
    }

    .social {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      a {
        padding: 0 10px;
        color: $light-blue;
        text-decoration: none;
        font-size: 0.8rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  //see cv

  .scv {
    display: flex;
    align-items: center;
    color: $black;
    font-size: 20px;
    margin: 0 auto;
    width: 200px;
    justify-content: center;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        color: $light-blue;
      }
    }

    .arrow {
      background-color: transparent;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 2px solid $blue;
      border-radius: 50%;
      animation-name: bounce-2;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      transition: all ease-in-out;

      .fa-long-arrow-down {
        font-size: 1rem;
        color: $blue;
        font-weight: bolder;
      }
    }
  }
  .top-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.main {
  width: 80%;
  clear: both;
  box-sizing: border-box;
  margin: 0 auto;

  // About Section
  .about {
    text-align: center;
    background-color: $black;
    padding: 20px;

    h2 {
      margin-bottom: 30px;
      text-decoration: underline;
      color: $light;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.3rem;
    }

    p {
      line-height: 1.9;
      color: $light;
      padding: 1rem;
    }
  }

  // End of About Section

  // skills Section
  .skills {
    text-align: center;

    h2 {
      margin-bottom: 30px;
      text-decoration: underline;
      color: $black;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.3rem;
    }

    .skillset {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      p {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        padding: 20px;
        color: $light;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          left: 2%;
          background-color: $light;
          bottom: 0;
          height: 100%;
          width: 0.8%;
        }
      }
    }
  }
  // End of skills

  // Work Section

  .work {
    text-align: center;

    h2 {
      margin-bottom: 30px;
      text-decoration: underline;
      color: $black;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.3rem;
    }

    .work-details {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;

      .wk {
        width: 400px;
        background-color: $blue;
        padding: 30px;
        color: $light;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          left: 50%;
          background-color: $light;
          bottom: 1%;
          height: 1%;
          transform: translate(-50%, -50%);
          width: 90%;
        }

        .wk-p {
          color: $light-blue;
          font-weight: 500;
        }
      }
    }
  }

  // End of work section

  .achievement {
    text-align: center;

    p {
      color: $black;
    }

    h2 {
      margin-bottom: 30px;
      text-decoration: underline;
      color: $black;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.3rem;
    }
  }

  .certificate {
    text-align: center;

    h2 {
      margin-bottom: 30px;
      text-decoration: underline;
      color: $black;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.3rem;
    }

    .work-details {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;

      p {
        width: 400px;
        background-color: $blue;
        padding: 30px;
        color: $light;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          left: 50%;
          background-color: $light;
          bottom: 1%;
          height: 1%;
          transform: translate(-50%, -50%);
          width: 90%;
        }
      }
    }
  }
  .interest {
    text-align: center;

    h2 {
      margin-bottom: 30px;
      text-decoration: underline;
      color: $black;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.3rem;
    }

    .work-details {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;

      p {
        width: 400px;
        background-color: $blue;
        padding: 30px;
        color: $light;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          left: 50%;
          background-color: $light;
          bottom: 1%;
          height: 1%;
          transform: translate(-50%, -50%);
          width: 90%;
        }
      }
    }
  }

  .mtop {
    margin-top: 150px;
  }
}

/* Animation Keyframes */

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

// Move Up

.pushtop {
  left: 3.5%;
  bottom: 3%;
  transform: translate(-50%, -50%);
  position: fixed;
  color: $light;
  outline: $blue;
  background-color: $blue;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 0.08rem solid $blue;
  cursor: pointer;
  display: none !important;
  transition: all 0.3s ease-in-out;
  z-index: 11111;

  &:hover {
    background-color: $blue;
    color: $light;
  }
}

.pushtop.active {
  display: block !important;
  transition: all 0.3s ease-in-out;
}

// Mobile Responsiveness
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    margin-top: 20px;

    a {
      margin: 8px 0;
    }
  }
}
