@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeee;
    line-height: 1.9;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    justify-content: space-between;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.r-nav a{
color: #000;
}

.r-nav a:hover{
    color: cadetblue;
    }

.right, .left{
    flex: 1;
}

.right{
    display: flex;
    height: 100%;
    background-color: #d3edff;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    clear: both;
    width: 50%;
    right:0;
    overflow-x: hidden;
    top: 0;
}

.right img{
    width: 306px;
    height: 395px;
}

button{
    position: absolute;
    top: 8%;
    right: 18%;
    padding: 12px 28px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    background-color: black;
    border: 0;
    color: white;
    cursor: pointer;
}

.left{
    width: 50%;
    margin-right: 50% ;
    padding: 50px;
    font-size: 20px;

}

.left a{
    text-decoration: none;
    padding: 0 10px;
}

/* Resume section */

.resume{
    padding: 0 25px;
}

.details{
        margin-right: 50%;
        padding-right: 10%;
 }

.resume-details{
    margin: 0 40px;
}

.name{
    margin-top: 70px;
}


.name h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
   
}

.name h3{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin: 10px 0;
}

 /* contant details */

 .cdetails{
     margin: 60px 0;
 }

 .cdetails p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
 }

 .cdetails p span{
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
 }
 
 .social{
     display: flex;
     margin-top: 10px;
 }

 .social a{
    padding: 0 10px;
    color: black;
    font-size: 20px;
}

.social a:nth-child(1){
    padding-left: 0;
}

/* see cv */

.scv{
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
}

.scv a{
    text-decoration: none;
    color: black;
}

.scv a:hover{
    color: cadetblue;
}

.fa-long-arrow-down{
    margin-left: 30px;
    font-size: 44px;
    font-weight: bolder;
}


/* About Section */

.mtop{
   margin-top: 200px;
}

.about h2{
    margin-bottom: 30px;
    text-decoration: underline;
}

.about p{
    line-height: 1.9;
}

/* skills */

h5{
    font-size: 20px;
}

.skills ul li{
    padding-left: 10px;
}

.work-place{
    margin-bottom: 40px;
}

.work-place li{
    font-weight: bold;
}

.certificate li, .achievement li, .certificate li{
    font-weight: normal;
}