@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeee;
    line-height: 1.9;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    justify-content: space-between;

}

h2{
    text-transform: uppercase;

}



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.r-nav a{
color: #000;
}

.r-nav a:hover{
    color: cadetblue;
    }

.right, .left{
    flex: 1;
}

.right{
    display: flex;
    height: 100%;
    background-color: cadetblue;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    clear: both;
    width: 50%;
    right:0;
    overflow-x: hidden;
    top: 0;
}

.right img{
    width: 306px;
    height: 395px;
}

button{
   position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%);
    padding: 12px 28px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    outline: none;
    background-color: black;
    border: 0;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
}

.left{
    width: 50%;
    margin-right: 50% ;
    padding: 50px;
    font-size: 20px;
    box-sizing: border-box;
}

.left a{
    text-decoration: none;
    padding: 0 10px;
}

/* Resume section */

.resume{
    padding: 0 25px;
}

.details{
        margin-right: 50%;
        padding-right: 10%;
 }

.resume-details{
    margin: 0 40px;
}

.name{
    margin-top: 25px;
}


.name h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    line-height: 1.2;
}

.name h3{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

 /* contant details */

 .cdetails{
     margin: 60px 0;
 }

 .cdetails p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
 }

 .cdetails p span{
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
 }
 
 .social{
     display: flex;
     margin-top: 10px;
 }

 .social a{
    padding: 0 10px;
    color: black;
    font-size: 20px;
}

.social a:nth-child(1){
    padding-left: 0;
}

/* see cv */

.scv{
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
}

.scv a{
    text-decoration: none;
    color: black;
}

.scv a:hover{
    color: cadetblue;
}

.fa-long-arrow-down{
    margin-left: 30px;
    font-size: 44px;
    font-weight: bolder;
}


/* About Section */

.mtop{
   margin-top: 200px;
}

.about h2{
    margin-bottom: 30px;
    text-decoration: underline;
}

.about p{
    line-height: 1.9;
}

/* skills */

h5{
    font-size: 20px;
}

.skills ul li{
    padding-left: 10px;
}

.work-place{
    margin-bottom: 40px;
}

.work-place li{
    font-weight: bold;
}

.certificate li, .achievement li, .certificate li{
    font-weight: normal;
}

.work-place li{
    font-weight: normal;
}


/* Animation Keyframes */

.fa-long-arrow-down{
    animation-name: bounce-2;
    font-size: 24px;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: cadetblue;
    transition: ease;
    font-weight: bolder;
    border-radius: 50%;
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(10px); }
}






/* Mobile Scren for 800px */


@media (max-width: 1190px) and (min-width: 801px){

    .left{
        width: 50%;
        margin-right: 50% ;
        padding: 10px;
        font-size: 18px;
    }

    /* Resume section */

.resume{
    padding: 0 10px;
}

.details{
        margin-right: 50%;
        padding-right: 10%;
 }

.resume-details{
    margin: 0 20px;
}

.name{
    margin-top: 35px;
}


.name h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 52px;
    line-height: 1.2;
}

.name h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 10px;
}

button{
    position: absolute;
    top: 8%;
    right: 28%;
   }

   .l-nav p{
       font-size: 15px;
   }

   .l-nav p{
       font-size: 15px;
   }

}


@media (max-width: 800px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }

        .right{
            display: flex;
            height: 100%;
            z-index: 1;
            width: 100%;
            padding: 60px 0;
            background-color: cadetblue;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            position: relative;
            clear: both;
             }

             .nav{
                 display: flex;
                 justify-content: space-between;
                 width: 100%;
                 margin: 10px 0;
                 padding: 0;
             }

             .left{
                width: 100%;
                margin-right: 0 ;
                padding: 20px;
                font-size: 20px;
            }

            button{
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%);
            }

            /* Resume section */

.resume{
    padding: 0 25px;

}

.details{
   margin: 0;
   padding: 0 10px;
 }

.resume-details{
    margin: 0;
    text-align: left;
    justify-content: center;
}

.name{
    justify-content: center;
    text-align: center;
}

.cdetails, .social{
    justify-content: center;
    text-align: center;
}

.name h1{
    font-size: 45px;
    margin-bottom: 10px;
}

.name h3{
    font-size: 22px;
}

.scv{
    justify-content: center;
    text-align: center;
}

.about h2, .skills h2, .wrk h2, .education h2, .achievement h2, .certificate h2, .interest h2{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.about p{
    justify-content: center;
    text-align: center; 
}

.mtop{
    margin-top: 80px;
 }

 body{
     font-size: 16px;
 }

 .right img{
    width: 250px;
    height: 295px;
}

.cdetails p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
 }

 .cdetails p span{
    font-size: 14.5px;
    margin-left: 0;
 }
 
 .social{
     display: flex;
     margin-top: 10px;
 }

 .social a{
    padding: 0 10px;
    color: black;
    font-size: 16px;
}

ul li::marker{
    margin: -3.5px;
    padding: .5px;
    margin-left:-0.5em;
}

.wrk li::marker, .achievement li::marker{
    margin: -3.5px;
    color: transparent;
    display: none;
    padding: .5px;
    margin-left:-0.5em;
   
}

.wrk, .achievement, .education{
    justify-content: center;
    text-align: center;
}

.about h2, .skills h2, .wrk h2, .education h2, .achievement h2, .certificate h2, .interest h2{
    justify-content: center;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

.l-nav p{
    font-size: 15px;
}

}

@media (max-width: 320px) {
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .l-nav p{
        background-color: #fff;
        width: 100vw;
        justify-content: center;
        /* align-items: center; */
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        padding: 10px 0;
    }

 

    
}